/* ======= 01 font-size ======= */
.text-sm {
    font-size: $font-size-base * 0.875; //14px
}
.text-base {
    font-size: $font-size-base; //16px
}
.text-lg {
    font-size: $font-size-base * 1.125; //18px
}
.text-xl {
    font-size: $font-size-base * 1.1875; //19px
}
.text-2xl {
    font-size: $font-size-base * 1.25; //20px
}
.text-3xl {
    font-size: $font-size-base * 1.5;//24px
}
.text-4xl {
    font-size: $font-size-base * 2;//32px
}
.text-5xl {
    font-size: $font-size-base * 2.25;//36px
}
.text-6xl {
    font-size: $font-size-base * 2.625;//42px
}
.text-7xl {
    font-size: $font-size-base * 3;//48px
}
.text-8xl {
    font-size: $font-size-base * 4;//64px
}
@media (max-width: 768px) {
    .text-md-2xl {
        font-size: $font-size-base;
    }
    .text-md-4xl {
        font-size: $font-size-base *1.5;
    }
    .text-md-8xl {
        font-size: $font-size-base * 3.375;
    }
}
@media (max-width: 568px) {
    .text-sm-sm {
        font-size: $font-size-base;
    }
    .text-sm-4xl {
        font-size: $font-size-base * 1.5;
    }
    .text-sm-6xl {
        font-size: $font-size-base * 1.5;
    }
    .text-sm-5xl {
        font-size: $font-size-base * 1.5;
    }
    .text-sm-7xl {
        font-size: $font-size-base *2;
    }
    .text-sm-8xl {
        font-size: $font-size-base * 2.5;
    }
}
@media (max-width: 414px) {
    .text-xs-5xl {
        font-size: $font-size-base;
    }
    .text-xs-7xl {
        font-size: $font-size-base * 1.5;
    }
    .text-xs-8xl {
        font-size: $font-size-base *1.5;
    }
}


/* ======= 02 font-weight ======= */
.fw-medium {
    font-weight: 500;
}
.fw-bold {
    font-weight: 700;
}
.fw-black {
    font-weight: 900;
}

/* ======= 03 font-style ======= */
.fst-italic {
    font-style: italic;
}

/* ======= 04 text-align ======= */
.text-center {
    text-align: center;
}
.text-start {
    text-align: left;
}
.text-end {
    text-align: right;
}

/* ======= 05 text-decoration ======= */    