/* ======= 01 h1-h6 ======= */
h1, .h1 {
	font-size: $h1-font-size;
	font-weight: 700;
    @include iphone {
        font-size: 54px;
    }
    @include moblie {
        font-size: 40px;
    }
    @include moblie-s {
        font-size: 24px;
    }
}
h2, .h2 {
	font-size: $h2-font-size;
	font-weight: 700;
    @include iphone {
        font-size: 32px;
    }
    @include moblie {
        font-size: 24px;
    }
}
h3, .h3 {
	font-size: $h3-font-size;
    @include iphone {
        font-size: 24px;
    }
    @include moblie-s {
        font-size: 16px;
    }
}
h4, .h4 {
	font-size: $h4-font-size;
    font-weight: 700;
}
h5, .h5 {
	font-size: $h5-font-size;
    @include moblie {
        font-size: 16px;
    }
}
h6, .h6 {
	font-size: $h6-font-size;
}

/* ======= 02 font-weight ======= */
.fw-medium {
    font-weight: 500;
}

/* ======= 03 line-height ======= */

/* ======= 04 text-align ======= */
.text-center {
    text-align: center;
}
.text-start {
    text-align: left;
}
.text-end {
    text-align: right;
}

/* ======= 05 text-decoration ======= */    