/* ======= 01 utils ======= */
@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
/* ======= 02 background-image ======= */
@mixin bg-cover($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ======= 03 media queries ======= */
@mixin ipad {
    @media (max-width: 992px) {
        @content
    }
}
@mixin iphone {
    @media (max-width: 768px) {
        @content
    }
}
@mixin moblie {
    @media (max-width: 568px) {
        @content
    }
}
@mixin moblie-s {
    @media (max-width: 414px) {
        @content
    }
}