/* ======= 01 font-family ======= */
$font-family-base: 'Roboto', 'Noto Sans TC', sans-serif;
$font-size-base: 1rem; // 16px

/* ======= 02 color ============= */
$color-primary: #AA0601;
$color-secondary: #650300;
$color-light: #FBF2F2;
$black: #000000;
$grey: #707070;
$white: #ffffff;
$link-light: #B75929;
$link-dark: #5F3E2D;

/*--------------------------------*/
.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
.grey {
    color: $grey;
}
.white {
    color: #ffffff;
}
/*--------------------------------*/
.bg-primary {
    background-color: $color-primary;
}
.bg-light {
    background-color: $color-light;
}
.bg-white {
    background-color: #ffffff;
}
.bg-link-light {
    background-color: $link-light;
}
.bg-link-dark {
    background-color: $link-dark;
}