.subnav {
  padding: 48px 12px 32px;
  @include md-768px {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include sm-568px {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 24px 14px 20px;
  }
}
.subnavBox {
  @include md-768px {
    align-items: center;
    margin-bottom: 24px;
  }
}
  .subnav-menu {
    li:nth-child(1) a {
      padding-left: 0;
    }
    a {
      @include md-768px {
        margin-right: 0;
        padding: 8px 24px;
      }
    }
    @include sm-568px {
      display: none;
    }
  }
  .subnav-icon-m {
    li:nth-child(3) a {
      margin-right: 0;
    }
    li a {
      @include md-768px {
        margin: 0;
      }
    }
    a {
      @include md-768px {
        margin-right: 16px;
      }
    }
    img {
      height: 48px;
      @include md-768px {
        height: 40px;
      }
      @include sm-568px {
        height: 24px;
      }
    }
    @include md-768px {
      gap: 16px;
    }
    @include sm-568px {
      gap: 8px;
    }
    
  }
  .subnav-icon-l {
    @include sm-568px {
      margin: 0;
      .material-symbols-outlined {
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }

.copyright {
  @include md-768px {
    padding: 32px 24px 40px;
  }
  @include sm-568px {
    padding: 20px 14px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}