/* ======= 01 customize grid ======= */
.row {
    margin-left: -12px;
    margin-right: -12px;
}

$max: 12;
@for $i from 1 through $max {
    .col-#{$i} {
        width: calc($i / 12) * 100%;
    }
}
@media (max-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}
@media (max-width: 568px) {
    .col-sm-12 {
        width: 100%;
    }
}

/* ======= 02 border =============== */
.border-white {
    border-bottom: 1px solid $white;
}
.border-dark {
    border: 1px solid #555555;
}
.box-shadow {
    box-shadow: 0px 4px 6px #00000029;
    border-radius: 4px;
}