/* ------- banner 橫幅 ------------- */
.banner-primary {
    height: 787px;
    @include bg-cover('../images/home-header.png');
    .container {
        height: 100%;
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
    }
    @include sm-568px {
        height: 396px;
        @include bg-cover('../images/home-header-sm.png');
        h2 {
            margin-bottom: 8px;
        }
    }
}

/* ------- 服務特點 ------------- */
.feature {
    @include sm-568px {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.feature ul {
    @include lg-992px {
        flex-wrap: wrap;
        li {
            width: calc(50% - 24px);
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 36px;
            }
        }
    }
    @include sm-568px {
        li {
            width: 100%;
        }
    }
    @include xs-414px {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

/* ------- 經典鏡框 ------------- */
.product {
    @include md-768px {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @include sm-568px {
        padding-top: 40px;
        padding-bottom: 40px;
        .product-title {
            margin-bottom: 24px;
        }
    }
}
.product ul {
    @include lg-992px {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        li {
            width: 46.66%;
            padding: 0;
        }
    }
    @include sm-568px {
        margin: 0;
        li {
            width: 100%;
        }
        h2 {
            font-size: 48px;
        }
    }
}

/* ------- 聯名鏡框 ------------- */
.banner-secondary {
    max-height: 608px;
    @include bg-cover('../images/index-bg.png');
    .container {
        height: 100%;
    }
    .photoBox {
        max-width: 100%;
        overflow: hidden;
    }
    @include lg-992px {
        max-height: 960px;
        ul {
            flex-direction: column;
            gap: 24px;
            li {
                max-width: 100%;
            }
        }
        .photoBox {
            max-height: 240px;
        }
    }
    @include md-768px {
        @include bg-cover('../images/index-bg-md.png');
    }
    @include sm-568px {
        max-height: 820px;
        @include bg-cover('../images/index-bg-sm.png');
        .container {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .banner-title {
            margin-bottom: 24px;
        }
        .photoBox {
            max-width: 100%;
            overflow: hidden;
            img {
                height: 240px;
            }
        }
        ul h2 {
            font-size: 48px;
        }
    }
}

/* ------- 顧客推薦 ------------- */
.recommend {
    .textBox {
        height: 173px;
    }
    @include lg-992px {
        ul {
            flex-wrap: wrap;
            li {
                width: calc(50% - 24px);
                &:nth-child(1), &:nth-child(2) {
                    margin-bottom: 24px;
                }
                .photoBox {
                    max-height: 306px;
                    overflow: hidden;
                }
            }

        }

    }
    @include md-768px {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        ul {
            gap: 24px;
            li {
                margin-left: 0;
                margin-right: 0;
                width: calc(50% - 12px);
            }
        }
    }
    @include sm-568px {
        padding-top: 40px;
        padding-bottom: 40px;
        h2 {
            margin-bottom: 24px;
        }
        ul {
            flex-wrap: wrap;
            li {
                width: 100%;
            }
        }
    }
}

/* ------- 聯絡我們 ------------- */
.formArea {
    max-width: 100%;
    @include sm-568px {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .contact {
        width: 50%;
        @include lg-992px {
            width: 75%;
            h2 {
                margin-bottom: 24px;
            }
            h5 {
                font-size: 16px;
            }
        }
        @include sm-568px {
            width: 100%;
            .checkArea {
                margin-bottom: 24px;
            }
            input[type='submit'] {
                width: 100%;
            }
        }
    }
}

