/* ------- product-menu ------------- */
.product-menu {
    li {
        width: calc(100% / 3);
        a {
            border: 1px solid #DCDCDC;
            &:hover {
                border-bottom: 8px solid $color-primary;
                opacity: 1;
            }
        }
    }
}
/* ------- banner 橫幅 --------------- */
.banner-product {
    width: 50%;
    height: 296px;
    @include bg-cover('../images/product-header-1.png');
}
.banner-model {
    width: 50%;
    height: 296px;
    @include bg-cover('../images/product-header-2.png')
}
/* ------- product 經典鏡框 ---------- */
.product-content {
    row-gap: 80px;
}
.item-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.pagination li {
    border: 1px solid #555555;
    &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        a {
            padding: 11.75px 16px;
            &:hover {
                background-color: $black;
                color: $white;
                opacity: 1;
            }
        }
    }
    &:nth-child(1), &:nth-child(7) {
        a {
            padding: 11px 12px;
            &:hover {
                background-color: #F2F2F2;
                opacity: 1;
            }
        }
    }
}
