<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框-眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <!------- product-menu ------------>
    <nav class="container">
      <ul class="product-menu d-flex text-center">
        <li><a class="text-4xl text-md-4xl text-sm-4xl fw-medium py-6" href="#">OPTICAL</a></li>
        <li><a class="text-4xl text-md-4xl text-sm-4xl fw-medium py-6" href="#">SUNGLASSES</a></li>
        <li><a class="text-4xl text-md-4xl text-sm-4xl fw-medium py-6" href="#">FUNCTIONAL</a></li>
      </ul>
    </nav>
    <!------- banner 橫幅 -------------->
    <div class="d-flex">
      <div class="banner-product"></div>
      <div class="banner-model"></div>
    </div>
    <!------- product 經典鏡框 --------->
    <div class="product-content container py-20 text-center">
      <h4 class="text-6xl text-sm-6xl fw-medium">Celluloid Combi</h4>
      <h3 class="text-4xl text-sm-4xl text-xs-4xl mb-8">賽璐珞鈦金屬混合鏡框</h3>
      <ul class="product-card row d-flex flex-wrap">
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-1.png" alt="product-1">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-2.png" alt="product-2">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-3.png" alt="product-3">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-4.png" alt="product-4">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-5.png" alt="product-5">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-6.png" alt="product-6">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-1.png" alt="product-7">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-2.png" alt="product-8">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-3.png" alt="product-9">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-4.png" alt="product-10">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-5.png" alt="product-11">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 px-3">
          <a href="#">
            <img src="../assets/images/product-6.png" alt="product-12">
          </a>
          <div class="item-text d-flex justify-content-between">
            <span class="text-3xl">BJ41600S</span>
            <span class="text-3xl fw-medium color-primary">NTD3,490</span>
          </div>
          <div class="d-flex">
            <a class="item-icon bg-link-dark mr-2" href="#"></a>
            <a class="item-icon bg-link-light" href="#"></a>
          </div>
        </li>
      </ul>
    </div>
    <!------- pagination 分頁 --------->
    <ul class="pagination d-flex justify-content-center align-items-center mb-20">
      <li><a class="text-xl text-sm-xl" href="#">上一頁</a></li>
      <li><a class="text-lg text-sm-lg" href="#">1</a></li>
      <li><a class="text-lg text-sm-lg" href="#">2</a></li>
      <li><a class="text-lg text-sm-lg" href="#">3</a></li>
      <li><a class="text-lg text-sm-lg" href="#">4</a></li>
      <li><a class="text-lg text-sm-lg" href="#">5</a></li>
      <li><a class="text-xl text-sm-xl" href="#">下一頁</a></li>
    </ul>

    
    




    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
